<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_img_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuMejorJugadores">
        <activity
            android:name=".EditNoticiaActivity"
            android:label="Edit Noticia" />
        <activity
            android:name=".AddNoticiaActivity"
            android:label="Add Noticia" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register" />
        <activity android:name=".ApiClases.LatinAmericaNoticiasDetailsActivity"
            android:label="LatinAmericaNoticiasDetails"

            />
        <activity android:name=".ApiClases.LatinAmericaNoticiasActivity"
            android:label="Los ultimos noticias en Lat.Am."


            />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>